// color

// background color

// font Stack
$fallback-font-stack: Helvetica, Arial, serif;

@use "utils" as *;
@use "global" as *;

.budss {
  &__main {
    display: flex;
    flex-direction: column;
    background-color: rgb(24 24 24);

    @include xxs {
      column-gap: 0;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    background-color: rgb(255 170 76);
  }

  &__main__block {
    display: flex;
    flex-direction: column;
    background-color: rgb(255 170 76);
  }

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 0 0 4.17%;
    width: 168px;
  }

  &__businessBtn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 500 16px/1.25 Outfit, Helvetica, Arial, serif;
    color: rgb(255 255 255);
    text-align: center;
    background-color: rgb(24 24 24);
    border-radius: 19px 19px 0 0;
    padding: 9px 40px;
  }

  &__main__highlight {
    position: absolute;
    top: 9px;
    right: -145px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 105px;
    height: 20px;
    font: 500 16px/1.25 Outfit, Helvetica, Arial, serif;
    color: rgb(0 0 0);
    text-align: center;
  }

  &__main__block1 {
    display: flex;
    flex-direction: column;
    background-color: rgb(24 24 24);
  }

  &__wrapper1 {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &__main__rect {
    position: relative;
    min-height: 64px;
    background-color: rgb(24 24 24);
  }

  &__contactSalesBtn {
    position: absolute;
    top: 7px;
    right: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 182px;
    height: 57px;
    font: 600 20px/1.25 Outfit, Helvetica, Arial, serif;
    color: rgb(255 255 255);
    text-align: center;
    background-color: rgb(149 76 237);
    border-radius: 16px;
    padding: 16px 30px;

    @include sm {
      display: none !important;
    }

    @include tn {
      right: 0;
      margin-right: 3px;
    }
  }

  &__row {
    position: absolute;
    top: 10px;
    left: 59px;
    display: flex;
    align-items: center;
    width: 172px;
    height: 51px;

    @include mq-between(xxl, max) {
      align-content: flex-start;
      gap: 8px;
    }

    @include mq-between(xxl, xxxl) {
      left: 69px;
    }

    @include xs {
      left: 16px;
    }

    @include tn {
      gap: 8px;
    }
  }

  &__main__icon {
    width: 52px;
    min-width: 0;

    @include mq-between(xxl, max) {
      margin-top: unset;
      margin-right: unset;
      margin-bottom: unset;
      margin-left: unset;
      width: 100%;
    }
  }

  &__main__big_title {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 0;
    font: 600 37px/0.45 Outfit, Helvetica, Arial, serif;
    color: rgb(255 255 255);
    text-align: center;
    text-transform: lowercase;

    @include mq-between(xxl, max) {
      margin-top: unset;
      margin-right: unset;
      margin-bottom: unset;
      margin-left: unset;
      width: 100%;
    }

    @include xs {
      font-size: 37px;
    }
  }

  &__main__block_top_page {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgb(255 170 76);
    overflow: hidden;

    @include sm {
      margin: 0 0 40px;
    }
  }

  &__main__block_top_page__rect {
    position: relative;
    min-height: 598px;
    background-color: rgb(24 24 24);

    @include md {
      height: 917px;
    }
  }

  &__main__block_top_page__rect1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 1440px;
    height: 7px;
    background-color: rgb(24 24 24);
  }

  &__wrapper2 {
    position: absolute;
    top: 89px;
    left: 110px;
    width: 671px;
    height: 369px;
  }

  &__wrapper3 {
    position: absolute;
    top: -14px;
    right: -582px;
    width: 489px;
    height: 523px;
  }

  &__wrapper4 {
    position: absolute;
    top: 75px;
    right: 77px;
    width: 489px;
    height: 523px;

    @include lg {
      top: 45px;
    }

    @include xs {
      top: 57px;
      width: 448px;
      height: auto;
    }

    @include xxs {
      top: 70px;
      width: 489px;
    }
  }

  &__main__block_top_page__image {
    position: absolute;
    top: 25px;
    right: -372px;
    width: 881px;

    @include lg {
      top: 135px;
      width: 861px;
      height: 412.54px;
      object-position: 40% 40%;
    }

    @include md {
      top: 410px;
      right: auto;
      left: 38px;
      height: 460.54px;
    }

    @include sm {
      top: 515px;
      left: 58px;
      width: 661px;
      height: 333.54px;
    }

    @include xs {
      top: 503px;
      left: 68px;
      max-width: 100%;
      height: 337.54px;
    }

    @include xxs {
      top: 520px;
      right: -100px;
      left: 135px;
      height: 305.54px;
    }

    @include tn {
      top: 598px;
      left: 160px;
      height: 201.54px;
    }
  }

  &__main__block_top_page__image1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 489px;

    @include lg {
      top: 49.23px;
      left: 70px;
      width: 469px;
    }

    @include md {
      top: 369.23px;
    }

    @include sm {
      top: 443.23px;
      width: 400px;
    }

    @include xs {
      top: 446.23px;
      width: 387px;
    }

    @include xxs {
      top: 445.23px;
      left: 170px;
      width: 375px;
    }

    @include tn {
      top: 555.23px;
      left: 270px;
      width: 275px;
    }
  }

  &__col {
    position: absolute;
    top: 89px;
    left: 110px;
    display: flex;
    flex-direction: column;
    width: 671px;
    height: 369px;

    @include mq-between(xxl, xxxl) {
      left: 140px;
      padding: 0;
    }

    @include lg {
      right: 0;
      width: 471px;
      height: auto;
    }

    @include md {
      width: 591px;
    }

    @include sm {
      right: 16px;
      left: 16px;
      width: auto;
    }

    @include xxs {
      height: 261px;
    }
  }

  &__main__block_top_page__hero_title {
    font: 700 96px/1.06 Outfit, Helvetica, Arial, serif;
    color: rgb(255 255 255);

    @include xl {
      align-items: flex-start;
      font-size: 89px;
    }

    @include lg {
      width: 461px;
      font-size: 70px;
    }

    @include md {
      font-size: 80px;
    }

    @include sm {
      width: auto;
    }

    @include xxs {
      font-size: 40px;
    }
  }

  &__main__block_top_page__subtitle {
    margin: 20px 0 0;
    width: 79.58%;
    font: 400 20px/1.2 Outfit, Helvetica, Arial, serif;
    color: rgb(255 255 255);

    @include mq-between(xxl, xxxl) {
      align-items: flex-start;
      width: 99.58%;
      font-size: 20px;
    }

    @include md {
      align-items: flex-start;
      font-size: 25px;
    }

    @include sm {
      width: auto;
    }

    @include xxs {
      font-size: 16px;
    }
  }

  &__contactSalesBtn1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0 0;
    width: 182px;
    max-width: 100%;
    font: 600 20px/1.25 Outfit, Helvetica, Arial, serif;
    color: rgb(255 255 255);
    text-align: center;
    background-color: rgb(149 76 237);
    border-radius: 16px;
    padding: 16px 30px;

    @include sm {
      width: auto;
    }
  }

  &__about_us__block {
    display: flex;
    flex-direction: column;
    flex: 0 1 1053;
    overflow: hidden;

    @include sm {
      display: flex !important;
    }
  }

  &__about_us__block1 {
    position: relative;
    margin: 100px 0 0;
    min-width: 0;
    max-width: 1440px;
    min-height: 953px;
    background-color: rgb(24 24 24);

    @include sm {
      display: flex !important;
      max-width: 100%;
      min-height: 100%;
    }

    @include xs {
      margin: 80px 0 0;
    }
  }

  &__col1 {
    position: absolute;
    top: 0;
    left: 60px;
    display: flex;
    flex-direction: column;
    gap: 80px 0;
    width: 547.99px;

    @include md {
      right: 0;
      left: 16px;
      width: 707.5px;
    }

    @include sm {
      top: -10%;
      justify-content: space-between;
      gap: 8px 0;
      width: auto;
    }

    @include xs {
      top: -64px;
    }

    @include tn {
      flex-wrap: wrap;
    }
  }

  &__about_us__hero_title {
    font: 700 96px/1.06 Outfit, Helvetica, Arial, serif;
    color: rgb(255 255 255);
    letter-spacing: -0.1px;

    @include md {
      align-items: flex-start;
      font-size: 52px;
    }

    @include sm {
      margin: 0 0 30px;
      font-size: 40px;
    }

    @include xxs {
      margin: 0 0 16px;
    }

    @include tn {
      margin: 0 0 15px;
    }
  }

  &__wrapper5 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 72.45%;
    max-width: 85%;

    @include md {
      margin: 0 0 40px;
    }

    @include sm {
      width: auto;
      max-width: 93%;
    }
  }

  &__about_us__block2 {
    position: absolute;
    bottom: -5px;
    left: 55px;
    width: 355px;
    height: 45px;
    background: var(--src) center center / 100% 100% no-repeat;

    @include md {
      left: 0;
      width: 300px;
    }

    @include sm {
      top: 24px;
      width: 229px;
    }

    @include xs {
      left: 193px;
    }

    @include xxs {
      top: 55px;
      left: 0;
    }

    @include tn {
      left: 36px;
      width: 233px;
    }
  }

  &__about_us__big_title {
    position: relative;
    font: 600 36px/1.25 Outfit, Helvetica, Arial, serif;
    color: rgb(255 255 255);

    @include md {
      align-items: flex-start;
      width: 444.58px;
      font-size: 32px;
    }

    @include sm {
      width: 568.69px;
      font-size: 24px;
    }

    @include xs {
      width: 443.89px;
    }

    @include xxs {
      width: 332.98px;
    }

    @include tn {
      width: 286.21px;
    }
  }

  &__col2 {
    position: absolute;
    top: 180px;
    left: 587.98828125px;
    display: flex;
    flex-direction: column;
    gap: 70px 0;
    width: 726.99px;

    @include xl {
      left: 581px;
      width: auto;
    }

    @include lg {
      left: 551px;
      width: 443.98px;
    }

    @include md {
      top: 311px;
      left: 16px;
      width: auto;
    }

    @include sm {
      top: 85px;
      right: 16px;
      align-items: center;
      align-content: stretch;
      gap: 8px;
    }

    @include xs {
      top: 116px;
    }

    @include xxs {
      flex-wrap: wrap;
    }

    @include tn {
      top: 104px;
      flex-wrap: wrap-reverse;
      place-content: normal space-between;
      align-items: stretch;
    }
  }

  &__row1 {
    display: flex;
    justify-content: space-between;
    gap: 0 10px;
    margin: 0 35px 0 0;

    @include md {
      margin: 0 32px 0 0;
    }

    @include sm {
      flex-direction: column;
      justify-content: flex-start;
      column-gap: 10px;
      margin: 0 auto 0 0;
    }

    @include xs {
      margin: 0 16px 0 0;
    }

    @include xxs {
      gap: 10px;
    }

    @include tn {
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: unset;
      margin-right: unset;
      margin-bottom: unset;
      margin-left: unset;
      width: 100%;
    }
  }

  &__col3 {
    display: flex;
    flex-direction: column;
    margin: 0 0 22px;
    width: 321px;
    min-width: 0;

    @include sm {
      column-gap: 0;
      margin-top: unset;
      margin-bottom: unset;
      width: 100%;
    }
  }

  &__about_us__icon {
    width: 100px;
    max-width: 85%;
    object-fit: cover;
  }

  &__about_us__hero_title1 {
    margin: 10px 0 0;
    font: 700 48px/1.06 Outfit, Helvetica, Arial, serif;
    color: rgb(255 255 255);

    @include lg {
      align-items: flex-start;
      font-size: 32px;
    }

    @include md {
      font-size: 44px;
    }

    @include sm {
      font-size: 32px;
    }
  }

  &__about_us__medium_title {
    margin: 20px 0 0;
    font: 400 24px/1.2 Outfit, Helvetica, Arial, serif;
    color: rgb(255 255 255);

    @include lg {
      align-items: flex-start;
      font-size: 16px;
    }
  }

  &__col4 {
    display: flex;
    flex-direction: column;
    margin: 5px 0 0;
    width: 308px;
    min-width: 0;

    @include sm {
      margin-top: unset;
      margin-bottom: unset;
      width: 100%;
    }
  }

  &__about_us__icon1 {
    width: 72.98828125px;
    max-width: 85%;
    object-fit: cover;
  }

  &__about_us__hero_title2 {
    margin: 14px 1px 0 7px;
    font: 700 48px/1.06 Outfit, Helvetica, Arial, serif;
    color: rgb(255 255 255);

    @include lg {
      align-items: flex-start;
      font-size: 32px;
    }

    @include md {
      font-size: 44px;
    }

    @include sm {
      font-size: 32px;
    }

    @include xxs {
      width: 357.67px;
    }
  }

  &__about_us__medium_title1 {
    margin: 20px 0 0 7px;
    font: 400 24px/1.2 Outfit, Helvetica, Arial, serif;
    color: rgb(255 255 255);

    @include lg {
      align-items: flex-start;
      font-size: 16px;
    }
  }

  &__row2 {
    display: flex;
    justify-content: space-between;
    gap: 0 10px;

    @include sm {
      display: flex !important;
      flex-direction: column;
      align-items: center;
      gap: 8px 10px;
    }

    @include tn {
      flex-wrap: wrap;
      align-items: stretch;
      gap: 0 10px;
      margin-top: unset;
      margin-right: unset;
      margin-bottom: unset;
      margin-left: unset;
      width: 100%;
    }
  }

  &__col5 {
    display: flex;
    flex-direction: column;
    margin: 0 0 57px;
    width: 306px;
    min-width: 0;

    @include sm {
      margin-top: unset;
      margin-bottom: unset;
      width: auto;
    }
  }

  &__about_us__hero_title3 {
    margin: 10px 0 0;
    width: 227.98828125px;
    max-width: 85%;
    font: 700 48px/1.06 Outfit, Helvetica, Arial, serif;
    color: rgb(255 255 255);

    @include lg {
      align-items: flex-start;
      font-size: 32px;
    }

    @include md {
      font-size: 44px;
    }

    @include sm {
      font-size: 32px;
    }
  }

  &__col6 {
    display: flex;
    flex-direction: column;
    width: 336px;
    min-width: 0;

    @include sm {
      margin-top: unset;
      margin-bottom: unset;
      width: auto;
    }
  }

  &__about_us__hero_title4 {
    margin: 10px 0 0;
    width: 251.9921875px;
    max-width: 85%;
    font: 700 48px/1.06 Outfit, Helvetica, Arial, serif;
    color: rgb(255 255 255);

    @include lg {
      align-items: flex-start;
      font-size: 32px;
    }

    @include md {
      font-size: 44px;
    }

    @include sm {
      font-size: 32px;
    }
  }

  &__about_us__medium_title2 {
    margin: 20px 0 0;
    font: 400 24px/1.2 Outfit, Helvetica, Arial, serif;
    color: rgb(255 255 255);

    @include lg {
      align-items: flex-start;
      font-size: 16px;
    }

    @include xxs {
      width: 365.28px;
    }
  }

  &__about_us__image {
    position: absolute;
    bottom: -171.9921875px;
    left: -20%;
    width: 750px;

    @include xl {
      left: -25%;
      display: flex !important;
    }

    @include lg {
      left: -34%;
    }

    @include md {
      display: none !important;
    }
  }

  &__phone {
    display: flex;
    flex-direction: column;

    @include sm {
      margin: 0 0 40px;
    }
  }

  &__phone__image {
    margin: 107px auto 106px;
    width: 308px;
  }

  &__block_purple {
    display: flex;
    flex-direction: column;
    background-color: rgb(149 76 237);

    @include sm {
      margin: 0 0 40px;
    }
  }

  &__row3 {
    display: flex;
    justify-content: space-between;
    gap: 0 10px;
    margin: 40px auto;
    width: 741px;
    max-width: 85%;

    @include sm {
      flex-direction: column;
      align-items: center;
      gap: 8px 10px;
    }

    @include tn {
      gap: 30px 8px;
    }
  }

  &__col7 {
    display: flex;
    flex-direction: column;
    gap: 16px 0;
    width: 217px;
    min-width: 0;

    @include sm {
      flex-direction: row;
      align-items: center;
      column-gap: 8px;
      margin-top: unset;
      margin-bottom: unset;
      width: 100%;
    }

    @include tn {
      min-width: unset;
    }
  }

  &__block_purple__hero_title {
    display: flex;
    align-items: center;
    font: 700 64px/1.06 Outfit, Helvetica, Arial, serif;
    color: rgb(255 255 255);

    @include md {
      font-size: 52px;
    }

    @include sm {
      margin-top: unset;
      margin-right: unset;
      margin-bottom: unset;
      margin-left: unset;
    }

    @include xxs {
      font-size: 36px;
    }
  }

  &__block_purple__medium_title {
    font: 600 24px/1.2 Outfit, Helvetica, Arial, serif;
    color: rgb(255 255 255);

    @include md {
      align-items: flex-start;
      font-size: 22px;
    }

    @include sm {
      margin-top: unset;
      margin-right: unset;
      margin-bottom: unset;
      margin-left: unset;
    }

    @include xxs {
      font-size: 20px;
    }
  }

  &__col8 {
    display: flex;
    flex-direction: column;
    gap: 16px 0;
    width: 163px;
    min-width: 0;

    @include sm {
      flex-direction: row;
      align-items: center;
      column-gap: 8px;
      margin-top: unset;
      margin-bottom: unset;
      width: 100%;
    }

    @include tn {
      min-width: unset;
    }
  }

  &__col9 {
    display: flex;
    flex-direction: column;
    gap: 16px 0;
    width: 161px;
    min-width: 0;

    @include sm {
      flex-direction: row;
      align-items: center;
      column-gap: 8px;
      margin-top: unset;
      margin-bottom: unset;
      width: 100%;
    }

    @include tn {
      min-width: unset;
    }
  }

  &__business_growth_section {
    display: flex;
    flex-direction: column;
    background-color: rgb(24 24 24);
  }

  &__flex_col {
    display: flex;
    flex-direction: column;
    gap: 110px 0;
    margin: 100px auto 150px;
    width: 1168.991455078125px;
    max-width: 85%;

    @include xs {
      gap: 80px 0;
      margin: 80px auto;
    }

    @include tn {
      gap: 50px 0;
      margin: 50px auto;
    }
  }

  &__flex_col1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px 0;
    margin: 0 auto;
    width: 663.991455078125px;
    max-width: 85%;

    @include tn {
      width: auto;
      max-width: unset;
    }
  }

  &__why_budss__title {
    font: 700 64px/1.06 Outfit, Helvetica, Arial, serif;
    color: rgb(255 255 255);

    @include md {
      align-items: flex-start;
      font-size: 52px;
    }

    @include xs {
      font-size: 40px;
    }
  }

  &__advanced_payment__group {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__advanced_payment__image {
    position: absolute;
    bottom: -2.9971694946289062px;
    left: 50%;
    width: 386.99px;
    transform: translate(-50%, 0);

    @include md {
      left: 48%;
      width: 330.99px;
    }

    @include sm {
      top: 43px;
      left: 64%;
      width: 327.99px;
    }

    @include xs {
      top: 31px;
      left: 63%;
      width: 243.99px;
    }

    @include xxs {
      top: 24px;
      left: 65%;
      width: 67.56%;
    }

    @include tn {
      top: 30px;
      left: 206.99px;
      width: 219.99px;
    }
  }

  &__advanced_payment__subtitle {
    position: relative;
    display: flex;
    justify-content: center;
    font: 600 36px/1.25 Outfit, Helvetica, Arial, serif;
    color: rgb(255 255 255);
    text-align: center;

    @include xl {
      width: 663.99px;
    }

    @include md {
      align-items: flex-start;
      width: 627.99px;
      font-size: 32px;
    }

    @include sm {
      width: auto;
    }

    @include xs {
      font-size: 24px;
    }

    @include xxs {
      align-items: center;
      font-size: 20px;
    }

    @include tn {
      font-size: 22px;
    }
  }

  &__flex_row {
    display: flex;
    justify-content: space-between;
    gap: 0 10px;
    margin: 0 0 0 auto;
    width: 880.01416015625px;
    max-width: 85%;

    @include md {
      flex-direction: column;
      align-items: center;
      gap: 30px 10px;
    }
  }

  &__customer_influence__group {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 364px;
    min-width: 0;

    @include md {
      width: 100%;
      min-width: unset;
    }
  }

  &__customer_influence__visuals {
    position: absolute;
    top: -40px;
    left: -328.9914779663086px;
    width: 733px;
    background: var(--src) -21.87% 34.92% / 56.34% no-repeat;
    background-color: rgb(245 245 245);
    border-radius: 30px;
  }

  &__customer_influence__image {
    position: absolute;
    top: 36.988616943359375px;
    left: 13.991477966308594px;
    width: 263px;
  }

  &__customer_influence__icon_base {
    position: absolute;
    top: 36.988616943359375px;
    left: 244.99999237060547px;
    width: 25px;
    object-fit: cover;
  }

  &__customer_influence__icon_base_secondary {
    position: absolute;
    top: 65px;
    left: 211.98863983154297px;
    width: 38.99px;
    object-fit: cover;
  }

  &__customer_influence__content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px 0;

    @include xxs {
      margin-right: unset;
    }
  }

  &__customer_influence__title {
    font: 600 48px/1.25 Outfit, Helvetica, Arial, serif;
    color: rgb(0 0 0);

    @include md {
      align-items: flex-start;
      font-size: 44px;
    }

    @include xxs {
      font-size: 36px;
    }
  }

  &__customer_influence__subtitle {
    margin: 0 30px 0 0;
    font: 400 20px/1.2 Outfit, Helvetica, Arial, serif;
    color: rgb(0 0 0);

    @include md {
      align-items: flex-start;
      font-size: 18px;
    }

    @include xs {
      margin: 0 16px 0 0;
    }

    @include xxs {
      font-size: 16px;
    }

    @include tn {
      margin: 0 8px 0 0;
    }
  }

  &__bulk_buying__group {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 0 36px;
    width: 416px;
    min-width: 0;

    @include md {
      margin: 0;
      width: 100%;
      min-width: unset;
    }
  }

  &__bulk_buying__visuals {
    position: absolute;
    top: -40px;
    left: -40px;
    width: 546.99px;
    background-color: rgb(245 245 245);
    border-radius: 30px;
  }

  &__bulk_buying__image {
    position: absolute;
    top: 70px;
    right: -28.991531372070312px;
    width: 128.99px;
  }

  &__bulk_buying__icon {
    position: absolute;
    bottom: -383.9772720336914px;
    left: 60.99432373046875px;
    width: 83.99px;
  }

  &__bulk_buying__icon_secondary {
    position: absolute;
    right: 49.999977111816406px;
    bottom: -399.9857940673828px;
    width: 103px;
  }

  &__bulk_buying__content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px 0;
  }

  &__bulk_buying__title {
    font: 600 48px/1.25 Outfit, Helvetica, Arial, serif;
    color: rgb(0 0 0);

    @include md {
      align-items: flex-start;
      font-size: 44px;
    }

    @include xxs {
      font-size: 36px;
    }
  }

  &__bulk_buying__subtitle {
    font: 400 20px/1.2 Outfit, Helvetica, Arial, serif;
    color: rgb(0 0 0);

    @include md {
      align-items: flex-start;
      font-size: 18px;
    }

    @include xxs {
      font-size: 16px;
    }
  }

  &__loyalty_cashback__group {
    display: flex;
    justify-content: space-between;
    gap: 0 10px;
    width: 968.9630126953125px;
    max-width: 85%;

    @include md {
      flex-direction: column;
      align-items: center;
      gap: 30px 10px;
    }
  }

  &__loyalty_cashback__visuals {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 440px;
    min-width: 0;

    @include md {
      width: 100%;
      min-width: unset;
    }
  }

  &__group {
    position: absolute;
    top: -40px;
    left: -40.00000762939453px;
    width: 546.99px;
    background: var(--src) 111.55% 155.25% / 44.61% no-repeat;
    background-color: rgb(245 245 245);
    border-radius: 30px;
  }

  &__loyalty_cashback__content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px 0;
  }

  &__loyalty_cashback__title {
    font: 600 48px/1.25 Outfit, Helvetica, Arial, serif;
    color: rgb(0 0 0);

    @include md {
      align-items: flex-start;
      font-size: 44px;
    }

    @include xxs {
      font-size: 36px;
    }
  }

  &__loyalty_cashback__subtitle {
    width: 307.9971618652344px;
    max-width: 85%;
    font: 400 20px/1.2 Outfit, Helvetica, Arial, serif;
    color: rgb(0 0 0);

    @include md {
      align-items: flex-start;
      font-size: 18px;
    }

    @include xxs {
      font-size: 16px;
    }
  }

  &__ai_gamification__group {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 0 36px;
    width: 402px;
    min-width: 0;

    @include md {
      margin: 0;
      width: 100%;
      min-width: unset;
    }
  }

  &__ai_gamification__visuals {
    position: absolute;
    top: -37.99713134765625px;
    right: -290.9942932128906px;
    width: 733px;
    background: var(--src) 89.87% 158.86% / 25.92% no-repeat;
    background-color: rgb(245 245 245);
    border-radius: 30px;
  }

  &__ai_gamification__content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px 0;
  }

  &__ai_gamification__title {
    margin: 0 7px 0 0;
    font: 600 48px/1.25 Outfit, Helvetica, Arial, serif;
    color: rgb(0 0 0);

    @include md {
      align-items: flex-start;
      font-size: 44px;
    }

    @include xxs {
      font-size: 36px;
    }
  }

  &__ai_gamification__subtitle {
    font: 400 20px/1.2 Outfit, Helvetica, Arial, serif;
    color: rgb(0 0 0);

    @include md {
      align-items: flex-start;
      font-size: 18px;
    }

    @include xxs {
      font-size: 16px;
    }
  }

  &__business_growth_section1 {
    display: flex;
    flex-direction: column;
    background-color: rgb(245 245 245);
  }

  &__flex_col2 {
    display: flex;
    flex-direction: column;
    gap: 100px 0;
    margin: 100px auto;
    width: 93.33%;
    max-width: 1343.9488525390625px;

    @include xs {
      gap: 80px 0;
      margin: 80px auto;
    }

    @include tn {
      gap: 50px 0;
      margin: 50px auto;
    }
  }

  &__flex_col__column_one {
    display: flex;
    flex-direction: column;
    gap: 100px 0;
    margin: 0 0 0 9px;

    @include xs {
      gap: 80px 0;
    }

    @include tn {
      gap: 50px 0;
      margin: 0 0 0 8px;
    }
  }

  &__content_box {
    display: flex;
    flex-direction: column;
    margin: 0 15px 0 0;
    border-radius: 60px;
    outline: 1px solid rgb(207 207 207);
    outline-offset: -1px;

    @include tn {
      margin: 0 8px 0 0;
    }
  }

  &__flex_col__column_two {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px 0;
    margin: 60px auto;
    width: 691.9885864257812px;
    max-width: 85%;

    @include tn {
      margin: 50px auto;
    }
  }

  &__business_growth__heading {
    display: flex;
    justify-content: center;
    font: 700 64px/1.06 Outfit, Helvetica, Arial, serif;
    color: rgb(0 0 0);
    text-align: center;

    @include md {
      align-items: flex-start;
      font-size: 52px;
    }

    @include xxs {
      font-size: 36px;
    }
  }

  &__contact_sales__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 182px;
    max-width: 100%;
    font: 600 20px/1.25 Outfit, Helvetica, Arial, serif;
    color: rgb(255 255 255);
    text-align: center;
    background-color: rgb(149 76 237);
    border-radius: 16px;
    padding: 16px 30px;
  }

  &__flex_row1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 10px;

    @include lg {
      flex-direction: column;
      gap: 30px 10px;
    }
  }

  &__flex_col__column_three {
    display: flex;
    flex-direction: column;
    gap: 20px 0;
    width: 822px;
    min-width: 0;

    @include lg {
      width: 100%;
      min-width: unset;
    }
  }

  &__brand_awareness__heading {
    font: 700 96px/1.06 Outfit, Helvetica, Arial, serif;
    color: rgb(0 0 0);

    @include md {
      align-items: flex-start;
      font-size: 52px;
    }

    @include xxs {
      font-size: 36px;
    }
  }

  &__brand_awareness__subtitle {
    width: 536.9886474609375px;
    max-width: 85%;
    font: 400 20px/1.2 Outfit, Helvetica, Arial, serif;
    color: rgb(0 0 0);

    @include md {
      align-items: flex-start;
      font-size: 18px;
    }

    @include xxs {
      font-size: 16px;
    }
  }

  &__icon_row {
    display: flex;
    justify-content: space-between;
    gap: 0 10px;
    width: 480px;
    min-width: 0;

    @include lg {
      width: 100%;
      min-width: unset;
    }

    @include tn {
      column-gap: 8px;
    }
  }

  &__icon__image_one {
    margin: 0 0 92px;
    width: 90px;
    min-width: 0;
    border-radius: 45px;
    object-fit: cover;

    @include xs {
      margin: 0 0 80px;
    }

    @include tn {
      margin: 0 0 50px;
    }
  }

  &__icon__image_two {
    margin: 92px 0 0;
    width: 90px;
    min-width: 0;
    border-radius: 45px;
    object-fit: cover;

    @include xs {
      margin: 80px 0 0;
    }

    @include tn {
      margin: 50px 0 0;
    }
  }

  &__icon__image_three {
    margin: 0 0 92px;
    width: 90px;
    min-width: 0;
    border-radius: 45px;
    object-fit: cover;

    @include xs {
      margin: 0 0 80px;
    }

    @include tn {
      margin: 0 0 50px;
    }
  }

  &__icon__image_four {
    margin: 92px 0 0;
    width: 90px;
    min-width: 0;
    border-radius: 45px;
    object-fit: cover;

    @include xs {
      margin: 80px 0 0;
    }

    @include tn {
      margin: 50px 0 0;
    }
  }

  &__flex_row11 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 10px;
    margin: 0 6px 0 0;

    @include md {
      flex-direction: column;
      justify-content: space-evenly;
      column-gap: 10px;
    }

    @include tn {
      gap: 30px 8px;
    }
  }

  &__flex_row2 {
    display: flex;
    justify-content: space-between;
    gap: 0 10px;
    width: 425px;
    min-width: 0;

    @include md {
      align-items: center;
      column-gap: 10px;
      flex: 0 1 auto;
      order: 3;
      margin: 0 auto 30px 0;
      width: 100%;
    }

    @include tn {
      column-gap: 8px;
      margin: 0 auto 0 0;
      min-width: unset;
    }
  }

  &__grid__item_one {
    width: 126px;
    min-width: 0;
    object-fit: cover;

    @include md {
      flex: 0 1 auto;
      order: 1;
      margin-top: unset;
      margin-right: unset;
      margin-bottom: unset;
      margin-left: unset;
    }

    @include xs {
      object-fit: contain;
    }
  }

  &__grid__item_two {
    width: 209px;
    min-width: 0;
    object-fit: cover;

    @include md {
      flex: 0 1 auto;
      order: 3;
      margin-top: unset;
      margin-bottom: unset;
    }
  }

  &__flex_row3 {
    display: flex;
    justify-content: space-between;
    gap: 0 10px;
    width: 549px;
    min-width: 0;

    @include md {
      align-items: center;
      gap: 8px 10px;
      flex: 0 1 auto;
      order: 1;
      margin: 0 0 30px;
      width: 100%;
    }

    @include xxs {
      flex-wrap: wrap;
      gap: 8px;
      width: auto;
    }

    @include tn {
      flex-direction: column;
      gap: 30px 8px;
      margin: 0;
      width: 100%;
      min-width: unset;
    }
  }

  &__grid__item_three {
    width: 182px;
    min-width: 0;
    object-fit: cover;

    @include md {
      flex: 0 1 auto;
      order: 1;
      margin-top: unset;
      margin-right: unset;
      margin-bottom: unset;
      margin-left: unset;
    }

    @include tn {
      width: 100%;
      min-width: unset;
      max-width: 182px;
    }
  }

  &__grid__item_four {
    margin: 4px 0;
    width: 277px;
    min-width: 0;
    object-fit: cover;

    @include md {
      flex: 0 1 auto;
      order: 3;
      margin-top: unset;
      margin-right: unset;
      margin-bottom: unset;
      margin-left: unset;
    }

    @include xs {
      object-fit: contain;
    }

    @include tn {
      margin: 0;
      width: 100%;
      min-width: unset;
      max-width: 277px;
    }
  }

  &__grid__item_five {
    width: 184px;
    min-width: 0;
    object-fit: cover;

    @include md {
      flex: 0 1 auto;
      order: 5;
      margin: 0 auto 0 0;
    }

    @include tn {
      width: 100%;
      min-width: unset;
      max-width: 184px;
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    background-color: rgb(24 24 24);
  }

  &__col10 {
    display: flex;
    flex-direction: column;
    gap: 28px 0;
    margin: 40px auto 21px;
    width: 91.67%;
    max-width: 1320.046875px;

    @include mq-between(xxl, max) {
      gap: 8px 0;
    }
  }

  &__row4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 10px;

    @include lg {
      flex-direction: column;
      gap: 30px 10px;
    }
  }

  &__row5 {
    display: flex;
    align-items: center;
    width: 172px;
    min-width: 0;

    @include lg {
      width: 100%;
      min-width: unset;
    }
  }

  &__footer__icon {
    width: 52px;
    object-fit: cover;
  }

  &__footer__big_title {
    display: flex;
    justify-content: center;
    align-items: center;
    font: 600 37px/0.45 Outfit, Helvetica, Arial, serif;
    color: rgb(255 255 255);
    text-align: center;
    text-transform: lowercase;

    @include md {
      font-size: 34px;
    }

    @include xxs {
      font-size: 30px;
    }
  }

  &__row6 {
    display: flex;
    justify-content: space-between;
    gap: 0 10px;
    width: 281px;
    min-width: 0;

    @include lg {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 8px 10px;
      width: 100%;
      min-width: unset;
    }

    @include tn {
      gap: 8px;
    }
  }

  &__footer__subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 0;
    font: 500 20px/1.25 Outfit, Helvetica, Arial, serif;
    color: rgb(255 255 255);
    text-align: center;

    @include lg {
      justify-content: flex-start;
      margin-top: unset;
      margin-bottom: unset;
      width: 100%;
      text-align: left;
      font-size: 20px;
    }

    @include md {
      font-size: 18px;
    }

    @include xxs {
      font-size: 16px;
    }
  }

  &__footer__subtitle1 {
    display: none !important;
    justify-content: center;
    align-items: center;
    min-width: 0;
    font: 600 20px/1.25 Outfit, Helvetica, Arial, serif;
    color: rgb(255 255 255);
    text-align: center;

    @include lg {
      justify-content: flex-start;
      width: 100%;
      text-align: left;
      font-size: 20px;
    }

    @include md {
      display: flex !important;
      font-size: 18px;
    }

    @include xxs {
      font-size: 16px;
    }
  }

  &__footer__subtitle2 {
    display: none !important;
    justify-content: center;
    align-items: center;
    min-width: 0;
    font: 600 20px/1.25 Outfit, Helvetica, Arial, serif;
    color: rgb(255 255 255);
    text-align: center;

    @include lg {
      justify-content: flex-start;
      margin-top: unset;
      margin-bottom: unset;
      width: 100%;
      text-align: left;
      font-size: 20px;
    }

    @include md {
      display: flex !important;
      font-size: 18px;
    }

    @include xxs {
      font-size: 16px;
    }
  }

  &__row7 {
    display: flex;
    justify-content: space-between;
    gap: 0 10px;
    width: 632px;
    min-width: 0;

    @include lg {
      width: 100%;
      min-width: unset;
    }

    @include sm {
      flex-direction: column;
      align-items: center;
      gap: 8px 10px;
    }

    @include xxs {
      gap: 30px 10px;
    }
  }

  &__contactSalesBtn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 182px;
    font: 600 20px/1.25 Outfit, Helvetica, Arial, serif;
    color: rgb(255 255 255);
    text-align: center;
    background-color: rgb(149 76 237);
    border-radius: 16px;
    padding: 16px 30px;

    @include sm {
      margin: 0 auto 40px 0;
      font-size: 20px;
    }

    @include xxs {
      margin: 0 auto 0 0;
      min-width: unset;
    }
  }

  &__row8 {
    display: flex;
    gap: 0 20px;
    width: 410px;
    min-width: 0;

    @include sm {
      flex-direction: column;
      align-items: center;
      gap: 20px;
      margin: 0 auto 0 0;
      width: auto;
    }

    @include xs {
      gap: 20px 16px;
    }

    @include xxs {
      min-width: unset;
    }
  }

  &__footer__image {
    width: 194px;
    min-width: 0;
    object-fit: cover;

    @include sm {
      margin-top: unset;
      margin-bottom: unset;
      width: 100%;
    }
  }

  &__footer__image1 {
    width: 196px;
    min-width: 0;
    object-fit: cover;

    @include sm {
      margin-top: unset;
      margin-bottom: unset;
      width: 100%;
    }
  }

  &__wrapper6 {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &__col11 {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px 0;
  }

  &__footer__line {
    width: 100%;
    height: 2px;
    min-height: 2px;
    background-color: rgb(68 68 68);
  }

  &__footer__text {
    font: 300 14px/1.39 Outfit, Helvetica, Arial, serif;
    color: rgb(185 185 185);
    letter-spacing: -0.1px;
  }

  &__row9 {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    gap: 0 20px;
    width: 471px;

    @include md {
      display: none !important;
      justify-content: space-between;
      column-gap: 8px;
      width: auto;
    }

    @include xs {
      column-gap: 16px;
    }

    @include tn {
      column-gap: 8px;
    }
  }

  &__footer__text1 {
    display: flex;
    justify-content: flex-end;
    font: 300 14px/1.39 Outfit, Helvetica, Arial, serif;
    color: rgb(185 185 185);
    text-align: right;
    text-decoration: underline;
  }
}
